{
  "allow": true,
  "server-version": "100",
  "update-URL": "",
  "disclaimer" : "https://raw.githubusercontent.com/sandmingo66/sandsoft/refs/heads/main/LICENSE",
"ad": {
    "fSeconds": 180,
    "adURL": "https://chaturbate.com",
    "logoURL": "https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Chaturbate_logo.svg/2560px-Chaturbate_logo.svg.png",
    "title": "THE ACT OF MASTURBATING WHILE CHATTING ONLINE",
    "description": "Thousands of live amateurs broadcasting worldwide. Want more Chaturbate girls? You can easily click on the next button to load up a new list of cam girls ..."
  },
"stt": {
    "t1": "",
    "t2": "",
    "t3": "",
    "t4": "",
    "t5": "wsqStmYOoIy--UOTCssssocdo-533gz-playyzc--HKNWOfWC--fFPsv",
    "t6": "eRBomiAbGXAkwphRTPmw8d59ac43-efee-47c4-91ae-33b29668caa0MgwjssIPYxnoqfwvTTZn",
    "t7": "gSXdzQvkToCoVMJSGbcWj89SjwrqjK277N4ii/QWAfJ1IXSpEP8hm0Svj5Kuhqs=JrWmhdiYHFlIUsMCMNJm",
    "t8": "SyqPppZrtTEYYROXRQjVeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZGsiOnRydWUsImV4cCI6MjAzODYzNDQyNywianRpIjoiMDFKNFhKSFpFU0dOS1oyREdDWE1INVNKRFkiLCJpYXQiOjE3MjMyNzQ0MjcsInN1YiI6IjAxSEtOQVNSR0NLN0EyNFgyUDYzQUpLU1ZHIn0.gpkrIfvYclJ16Wfu2g6ORK3k_gA6x2-03T1sj4a5LVw8zwCNnmIcpFepxRaZqXD",
    "t9": "",
    "t10": "MkbNlBOaYFppuvYvRJJf3DDD40D2F68DBDE5batMnhnZGUnPCQgSXpUW",
    "t11": "yRvcxSnFPxwsYJtWnMaTe25fa0c3-249e-4523-83c2-f684aaa84e3cWHcDECvodSgmjfMJxfKp",
    "t12": "",
    "t13": "",
    "t14": "",
    "t15": "fu7tc35DQxbO3KT2evwHYxAuwiGh4LvUuZXIB3444IEjtcbVGs55t5XJ",
    "t16": "Ca7D05lP438ISr0SX4q23CjyyRbYZ7PRjyww4nrirT/VPfDfcBnFRUQolYVnKpQ=XC3lmg61rbkG53M4QouH",
    "t17": "dVteHo1two31Z7JUCk1C93da56307df7d4bfd08dedf258aa7af1x44R2X02ff9rK6H3DstS"
},
"spc": {
    "s1": {
      "h": "",
      "p": 80
    },
    "s2": {
      "h": "",
      "p": 80
    },
   "s3": {
      "h": "",
      "p": 80
    },
   "s4": {
      "h": "",
      "p": 80
    },
   "s5": {
      "h": "",
      "p": 80
    },
   "s6": {
      "h": "",
      "p": 80
    },
   "s7": {
      "h": "",
      "p": 80
    },
  "s8": {
      "h": "",
      "p": 80
    },
  "s9": {
      "h": "5.161.188.36",
      "p": 9120
    },
    "s10": {
      "h": "",
      "p": 80
    },
    "s11": {
      "h": "",
      "p": 80
    },
    "s12": {
      "h": "",
      "p": 80
    },
    "s13": {
      "h": "95.216.160.242",
      "p": 8000
    }
},
"smt":  {
    "st1f": 1440,
    "st2f": 1440,
    "st3f": 1440,
    "st4f": 1440,
    "st5f": 1440,
    "st6f": 0,
    "st7f": 1440,
    "st8f": 1440,
    "st9f": 1440,
    "st10f": 1440,
    "st11f": 1440,
    "st12f": 0,
    "st13f": 0,
    "st14f": 1440,
    "st15f": 1440,
    "st16f": 1440,
    "st17f": 1440
},
"plTv": [
"All", 
"18 tits",
    "3d",
    "3d animation",
    "3d hentai",
    "4k",
    "4k porn download",
    "4k vr",
    "POV",
    "abella danger",
    "adriana chechick",
    "adult",
    "african",
    "african casting",
    "ai enhanced",
    "ai upscaled",
    "aika",
    "aletta ocean",
    "alex coal",
    "alexis fawx",
    "alexis texas",
    "alyx star",
    "amateur",
    "amateur anal",
    "amwf",
    "anal",
    "anal creampie",
    "anal mom",
    "anal pov",
    "anal teen",
    "angel youngs",
    "angela white",
    "angie faith",
    "anime",
    "anissa kate",
    "arab",
    "asian",
    "asian anal",
    "asian bbc",
    "asian uncensored",
    "ass 18",
    "aunt",
    "ava adams",
    "ava addams",
    "babysitter",
    "bang bus",
    "bangbros",
    "bangladeshi",
    "bbc",
    "bbc anal",
    "bbc creampie",
    "bbc gangbang",
    "bbc interracial",
    "bbc slut",
    "bbw",
    "bbw anal",
    "bdsm",
    "beautiful girl",
    "behind the scenes",
    "bhabhi",
    "big ass",
    "big ass anal",
    "big ass brazilian",
    "big boobs",
    "big booty",
    "big cock",
    "big natural tits",
    "big tits",
    "big tits mom",
    "black",
    "black dick",
    "blacked",
    "blacked raw",
    "blackmail",
    "blake blossom",
    "blonde",
    "blowbang",
    "blowjob",
    "bokep",
    "bokep indo",
    "boss",
    "boxing",
    "brandi love",
    "brazil",
    "brazilian",
    "brazzers",
    "brazzersexxtra",
    "brickzilla",
    "brother sister",
    "bts",
    "bukkake",
    "bully",
    "bus",
    "cartoon",
    "casca akashova",
    "casting",
    "casting anal",
    "cheating",
    "cheating wife",
    "cherie deville",
    "china",
    "chinese",
    "chubby",
    "colmek",
    "colombian",
    "colombiana",
    "compilation",
    "cory chase",
    "cosplay",
    "creampie",
    "creampie compilation",
    "creampie gangbang",
    "cuckold",
    "cum inside",
    "cumshot compilation",
    "curvy",
    "czech",
    "czech casting",
    "czech streets",
    "dad",
    "daddy",
    "daddy daughter",
    "dani daniels",
    "danny d",
    "dap",
    "daughter",
    "daughter swap",
    "decensored",
    "dee williams",
    "deepthroat",
    "defloration",
    "desi",
    "desi bhabhi",
    "dick drainers",
    "doctor",
    "double penetration",
    "download anime hentai",
    "download porn free",
    "dp",
    "dredd",
    "dredd anal",
    "drunk",
    "ebony",
    "ebony anal",
    "ebony bbw",
    "eliza ibarra",
    "elle brooke",
    "elsa jean",
    "emily willis",
    "eponer",
    "eponer hd",
    "eponer sex",
    "epormer",
    "eporn",
    "eporn sex",
    "eporno",
    "eproner",
    "eva elfie",
    "eva lovia",
    "fake taxi",
    "family",
    "family strokes",
    "family therapy",
    "fanbus",
    "father",
    "father in law",
    "fc2",
    "fc2 ppv",
    "feet",
    "femboy",
    "femdom",
    "filipina",
    "first anal",
    "foot",
    "foot fetish",
    "footjob",
    "foursome",
    "free porn video downloads",
    "free sex",
    "free use",
    "freeuse",
    "french",
    "friends mom",
    "full movie",
    "gabbie carter",
    "gangbang",
    "gangbang creampie",
    "gangbang sex",
    "gay",
    "german",
    "gilf",
    "glory hole",
    "gloryhole",
    "gloryhole swallow",
    "gloryhole visit",
    "goth",
    "grandma",
    "grandpa",
    "granny",
    "group gangbang",
    "group sex",
    "gym",
    "hairy",
    "hairy pussy",
    "hardcore",
    "hayley davies",
    "hazel moore",
    "hegre",
    "hentai",
    "hentai anime",
    "hentai full",
    "hentai sub indo",
    "hentai uncensored",
    "hijab",
    "hindi",
    "hitomi tanaka",
    "homemade",
    "hot mom",
    "hotwife",
    "huge tits",
    "indian",
    "indian bhabhi",
    "indian couple",
    "indian desi",
    "indian girl",
    "indian homemade",
    "indian web series",
    "indo",
    "indo bokep",
    "indo viral",
    "indonesia",
    "indonesia full",
    "indonesia live",
    "indonesia tante",
    "indonesia terbaru",
    "indonesia viral",
    "indonesian",
    "interracial",
    "interracial anal",
    "italian",
    "jackerman",
    "japan",
    "japanese",
    "japanese anal",
    "japanese bbc",
    "japanese big tits",
    "japanese creampie",
    "japanese daughter",
    "japanese english subtitle",
    "japanese family",
    "japanese father",
    "japanese father in law",
    "japanese gangbang",
    "japanese massage",
    "japanese milf",
    "japanese mom",
    "japanese mother",
    "japanese mother in law",
    "japanese old man",
    "japanese sister",
    "japanese stepmom",
    "japanese teacher",
    "japanese teen",
    "japanese uncensored",
    "japanese vr",
    "japanese wife",
    "japanese wife cheating",
    "jav",
    "jav sub indo",
    "jav uncensored",
    "jav vr",
    "javhd",
    "jennifer white",
    "jepang",
    "jilbab",
    "jilbab indonesia",
    "jmac",
    "joi",
    "jordi",
    "jordi el nino polla",
    "julia ann",
    "justine jakobs",
    "kama oxi",
    "kazumi",
    "kelsey kane",
    "kendra lust",
    "kenzie reeves",
    "korea",
    "korean",
    "kylie shay",
    "la sirena 69",
    "ladyboy",
    "lana rhoades",
    "lana rhodes",
    "lasirena69",
    "latex",
    "latina",
    "latina anal",
    "latina casting",
    "leah gotti",
    "legal",
    "lena paul",
    "lena the plug",
    "lesbian",
    "lesbians",
    "lexi lore",
    "lexi luna",
    "lily lou",
    "lisa ann",
    "lulu chu",
    "luna star",
    "maid",
    "mandingo",
    "mandy muse",
    "massage",
    "mature",
    "mature anal",
    "max hardcore",
    "meguri",
    "melody marks",
    "mewslut",
    "mexican",
    "mia kalifa",
    "mia khalifa",
    "mia malkova",
    "midget",
    "mike adriano",
    "milf",
    "milf anal",
    "milf mom",
    "milf pov",
    "milf vr",
    "mina kitano",
    "mind control",
    "missax",
    "missionary",
    "miu shiromine",
    "mom",
    "mom anal",
    "mom and son",
    "mom pov",
    "mom son",
    "mom swap",
    "mommy",
    "monster cock",
    "mother",
    "movie",
    "muslim",
    "mz dani",
    "natasha nice",
    "next",
    "ngentot",
    "ngewe",
    "ngintip",
    "ngintip mandi",
    "nia bleu",
    "nicole aniston",
    "ntr",
    "nude girls",
    "nuru massage",
    "nympho",
    "octokuro",
    "office",
    "ojol",
    "old man",
    "old young",
    "onlyfans",
    "orgasm",
    "orgy",
    "parody",
    "party",
    "pawg",
    "pawg ass",
    "pawg bbc",
    "pegging",
    "perv",
    "pervmom",
    "petite",
    "phoenix marie",
    "pierre woodman casting",
    "pinay",
    "pinay teen",
    "piss",
    "pmv",
    "pornfidelity",
    "pregnant",
    "princess emily",
    "private society",
    "property sex",
    "public",
    "public agent",
    "pure taboo",
    "qq",
    "redhead",
    "rei kamiki",
    "reiran akame",
    "remu suzumori",
    "riley reid",
    "rimming",
    "rocco siffredi",
    "romi rain",
    "rough",
    "rough sex",
    "russian",
    "russian teen",
    "ryan conner",
    "sara jay",
    "savannah bond",
    "scat",
    "schoolgirl",
    "secretary",
    "sex mex",
    "sex video download",
    "sexmex",
    "shemale",
    "shemale fucks girl",
    "shoplyfter",
    "shower",
    "sissy caption",
    "sister",
    "sister and brother",
    "situs bokep indonesia",
    "skinny",
    "skylar vox",
    "sleeping",
    "sleeping mom",
    "sma",
    "small dick",
    "small girl",
    "smp",
    "solo",
    "sophie dee",
    "spanish",
    "spanish pornstar",
    "squirt",
    "squirting",
    "stacy cruz",
    "step",
    "step mom",
    "step sister",
    "stepdad",
    "stepdaughter",
    "stepmom",
    "stepmom creampie",
    "stepmom stepson",
    "stepsis",
    "stepsister",
    "stepson",
    "stockings",
    "streaming bokep indonesia",
    "streaming bokep indonesia terbaru",
    "subtitle english",
    "swap",
    "sybil",
    "taboo",
    "taboo family",
    "tamil",
    "tante",
    "tante indonesia",
    "taxi",
    "teacher",
    "teen",
    "teen anal",
    "teenfidelity",
    "thai",
    "thai girl",
    "thick ass",
    "threesome",
    "tommy king",
    "tonights girlfriend",
    "trans",
    "tru kait",
    "true anal",
    "tushy",
    "ullu web series",
    "uncensored",
    "uncensored japanese",
    "uncensored leaked",
    "upscaled",
    "valentina nappi",
    "videos porno para descargar",
    "vina sky",
    "vintage",
    "violet meyers",
    "violet myers",
    "virgin",
    "vixen",
    "vr",
    "vr anal",
    "vr big tits",
    "vr porn",
    "web series",
    "wife",
    "wife bbc",
    "wife cuckold",
    "wife swap",
    "willow ryder",
    "woodman casting",
    "xlxx",
    "yiny leon",
    "yoga"
],
  "payload": {
"Tiktok Porn": {
    "Slot 1": "https://fikfap.com",
    "Slot 2": "https://fyptt.to/",
    "Slot 3": "https://xxxtik.com",
    "Slot 4": "https://tik.porn",
    "Slot 5": "https://www.xfree.com/",
    "Slot 6": "https://tiktits.com/",
    "Slot 7": "https://www.redgifs.com",
    "Slot 8": "https://ogfap.com/",
    "Slot 9": "https://onlytik.com/",
    "Slot 10": "https://pin.porn/",
    "Slot 11": "https://www.xfollow.com/",
    "Slot 12": "https://fiqfuq.com/",
    "Slot 13": "https://www.reddit.com/r/tiktokporn"
  },
"Porn Sites": {
    "Slot 1": "https://pornhub.com/",
    "Slot 2": "https://pornkai.com/",
    "Slot 3": "https://www.xvideos.com",
    "Slot 4": "https://xhamster.com/",
    "Slot 5": "https://www.xnxx.com/",
    "Slot 6": "https://hqporner.com/",
    "Slot 7": "https://hqporner.com/",
    "Slot 8": "https://beeg.com/",
    "Slot 9": "https://sxyprn.com/",
    "Slot 10": "https://motherless.com/"
  }
  
}
}
